<div class="footer">
  <ul class="vendor-list center-text">
    <li>
      <i class="fab fa-html5 fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-css3 fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-js fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-node-js fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-npm fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-angular fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-bootstrap fa-2x"></i>
    </li>
    &nbsp;&nbsp;
    <li>
      <i class="fab fa-github fa-2x"></i>
    </li>
  </ul>
</div>
