.header {
    width: 100%;
    /* background-color: var(--header-bg); */
    /* background-image: url('/content/img/leaves.jpg'); */
    background-image: linear-gradient(to top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('/content/img/wallpaper4k-4.jpg');
    background-size: cover;
    padding-top: 2rem;
}

.avatar {
    margin: 0 auto;
    text-align: center;
}

.avatar-img {
   max-width: 10rem;
   border-radius: 50%;
}

.contact-info {
    text-align: center;
}

.contact-info ul {
    list-style-type: none;
}

.contact-info ul li {
    display: inline-block;
    padding: 0.5rem;
}

.contact-info ul li a i{
    color: aquamarine;
    font-size: 2rem;
}

.introduction {
    width: 60%;
    margin: 0 auto;
    color: cornsilk;
    text-align: center;
}