<section class="header-section">
  <header-cmp class="header-cmp"></header-cmp>
</section>
<main class="main">
  <div class="main-container">
    <div class="row region-filter justify-content-center p-2">
      <div>
        <label for="regions" class="region-filter-txt">Region:&nbsp;&nbsp;&nbsp;</label>
        <select id="regions" (change)="regionFilter($event)">
          <option *ngFor="let rg of regions" value="{{ rg.code }}">{{ rg.name }}</option>
        </select>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <label for="subregions" class="region-filter-txt">Subregion:&nbsp;&nbsp;&nbsp;</label>
        <select id="subregions" (change)="subregionFilter($event)">
          <option *ngFor="let subrg of subregions" value="{{ subrg.code }}">{{ subrg.name }}</option>
        </select>
      </div>
    </div>
    <div></div>
    <country-col-cmp [countryLst]="countryCol1"></country-col-cmp>
    <country-col-cmp [countryLst]="countryCol2"></country-col-cmp>
    <country-col-cmp [countryLst]="countryCol3"></country-col-cmp>
    <div></div>
  </div>
</main>
<section class="footer-section">
  <footer-cmp class="footer-cmp"></footer-cmp>
</section>
