.footer {
  width: 100%;
  background-color: rgba(0, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 0;
  padding: 10px 0;
}

.vendor-list {
  list-style-type: none;
  margin: 0;
}

.vendor-list li {
  display: inline-block;
}
