<div class="footer">
    <div class="contact-info">
        <ul>
            <li>
                <a href="https://facebook.com/marcohuyreus" target="_blank" 
                placement="top" ngbTooltip="facebook.com/marcohuyreus">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="mailto:quanghuy6698@gmail.com?subject=I want to hire you" target="_blank" 
                placement="top" ngbTooltip="quanghuy6698@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/MarcohuyreusGitHub" target="_blank" 
                placement="top" ngbTooltip="github.com/MarcohuyreusGitHub">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" 
                placement="top" ngbTooltip="My LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="skype:live:quanghuy6698?chat" target="_blank" 
                placement="top" ngbTooltip="live:quanghuy6698">
                    <i class="fab fa-skype"></i>
                </a>
            </li>
            <li>
                <a href="#" placement="top" ngbTooltip="0392762666">
                    <i class="fas fa-phone-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</div>