/* ct stands for CountryTerritory */
.country-box {
  padding: 5px;
  background-color: cyan;
}

.country {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  background-color: red;
}

.border-bot {
  border-bottom: 1px solid black;
}

.country-code {
  font-size: 16px;
}
